
#load-screen {
    background: url(../images/header-back.png);
    position: fixed;
    z-index: 10000;
    top:0px;
    width: 100%;
    height: 1600px;
}
     
#loading {
    width: 500px;
    height: 500px;
    margin: 10% auto;
    background: url(../images/loader.gif);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.pager li .active_link {
    background: #c9c9c9 !important;
}

.my-status-msg-box {
    background-color:lightgreen;
    line-height:30px;
    padding-left:40px;
}

.my-float-right {
    float:right;
}

.my-text-justify {
    text-align: justify;
}

.my-display-none {
    display:none;
}

.my-link {
    cursor:pointer;
}

.my-msg-status {
    color:red;
    font-style: italic;
    font-size: 0.85em;
    padding-left:10px;
    margin-bottom: 0;
}
